@charset "utf-8";
@font-face {
  font-family: 'VinciDingbats';
  src: url('https://www.vinci.com/publi/webfonts/vinci_dingbats.woff2') format('woff2'), url('https://www.vinci.com/publi/webfonts/vinci_dingbats.woff') format('woff'), url('https://www.vinci.com/publi/webfonts/vinci_dingbats.svg#vinci_dingbats') format('svg'), url('https://www.vinci.com/publi/webfonts/vinci_dingbats.ttf') format('truetype'), url('https://www.vinci.com/publi/webfonts/vinci_dingbats.eot')
}

@font-face {
  font-family: 'VinciSansBold';
  src: url('https://www.vinci.com/publi/webfonts/vinci_sans_bold.woff2') format('woff2'), url('https://www.vinci.com/publi/webfonts/vinci_sans_bold.woff') format('woff'), url('https://www.vinci.com/publi/webfonts/vinci_sans_bold.svg#vinci_sans_bold') format('svg'), url('https://www.vinci.com/publi/webfonts/vinci_sans_bold.ttf') format('truetype'), url('https://www.vinci.com/publi/webfonts/vinci_sans_bold.eot')
}

@font-face {
  font-family: 'VinciSansRegular';
  src: url('https://www.vinci.com/publi/webfonts/vinci_sans_regular.woff2') format('woff2'), url('https://www.vinci.com/publi/webfonts/vinci_sans_regular.woff') format('woff'), url('https://www.vinci.com/publi/webfonts/vinci_sans_regular.svg#vinci_sans_regular') format('svg'), url('https://www.vinci.com/publi/webfonts/vinci_sans_regular.ttf') format('truetype'), url('https://www.vinci.com/publi/webfonts/vinci_sans_regular.eot')
}

@font-face {
  font-family: 'VinciCondensedMedium';
  src: url('https://www.vinci.com/publi/webfonts/vinci_sans_condensed-medium.woff2') format('woff2'), url('https://www.vinci.com/publi/webfonts/vinci_sans_condensed-medium.woff') format('woff'), url('https://www.vinci.com/publi/webfonts/vinci_sans_condensed-medium.svg#vinci_sans_condensed-medium') format('svg'), url('https://www.vinci.com/publi/webfonts/vinci_sans_condensed-medium.ttf') format('truetype'), url('https://www.vinci.com/publi/webfonts/vinci_sans_condensed-medium.eot')
}

html, body {
    height:100%
}

body,
h1 {
  margin: 0;
  padding: 0;
}

body, td, div, .p, a, .d, .s {
  font-family: 'VinciSansRegular', 'Trebuchet MS', Arial, Helvetica, sans-serif;
}

a:visited, .f a:visited {
  color: #551a8b;
}

a:link, .w, .w a:link {
  color: #004489;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #333;
}

h1 {
  width: 100%;
  font-size: 3.125rem;
  line-height: 0.85;
}

h1, h2, .ariane {
  font-family: VinciCondensedMedium, "Trebuchet MS", Arial, Helvetica, sans-serif;
}

main div {
  max-width: 100% !important;
}

main .text {
    padding: 0;
}

.text {
    width: 100%;
    font-size: 1.125rem;
    text-align: left;
}

.content {
  width: 100%;
  color: #333;
}

.ariane {
  padding-bottom: 5px;
  font-size: 1rem;
}

.header {
  line-height: 1.5em;
  background: #fff;
  height: 70px;
  width: 1200px;
  margin: auto
}

.header_text_00 {
  background: linear-gradient(to right, rgba(0, 68, 137, 1) 0%, rgba(0, 68, 137, 0.6) 100%);
}

.header_text {
  width: 100%;
  display: inline-block;
  margin: 0;
  padding: 20px 0
}

.header_text * {
  width: 1200px;
  margin: 0 auto;
  color: #fff;
  text-align: left;
  padding: 0 20px
}

.logo-desktop {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.top-menu-bar {
  border: solid 1px #dfe3e6;
  height: 45px;
  background: #ededed
}

.dropdown-toggle {
  display: block;
  text-decoration: none;
  color: #333;
  font-size: 1.125rem;
  padding: 0 2vw
}

.top-menu {
  width: 1200px;
  margin: 0 auto 0 auto;
  text-align: left;
}

.top-menu ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
  text-align: left;
}

.dropdown {
  position: relative;
  width: 100%;
  font-size: 1.125rem;
  font-family: VinciSansBold;
  padding: 0.75rem 0 0 0;
  height: 44px;
}

li {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  vertical-align: middle;
}

.dn-hdr {
    color: #fff;
    background: #3C3C3B !important;
    font-size: 1rem !important;
    margin-bottom: 0.25em !important;
    font-family: VinciSansBold !important;
    font-weight: normal !important;
    padding: 4px 6px 4px 10px !important;
}

div#dyn_nav {
    background: #FFF none repeat scroll 0 0;
    position: relative !important;
    padding-top: 1px;
    top: 0;
    width: 100% !important;
    margin: 1% 0 !important;
    border: none 0 !important;
    float: left;
    max-width: 100% !important;
}

main {
    padding-top: 0px
}

/****** CSS ALGOLIA *******/

.ais-Menu-count {
    background-color:white;
}

.ais-Menu-label {
    font-family: 'VinciSansRegular', 'Trebuchet MS', Arial, Helvetica, sans-serif;
}

.ais-Hits-list {
    display: flex;
    flex-direction: column;
}

.ais-Hits-list>div {
    height: -webkit-calc(99% - 10px);  /* pour Chrome */
    height: -moz-calc(99% - 10px);     /* pour Firefox */
    height: calc(99% - 10px);
    width: -webkit-calc(99% - 10px);  /* pour Chrome */
    width: -moz-calc(99% - 10px);     /* pour Firefox */
    width: calc(99% - 10px);
    background-color: #b93c2f;
    margin: 3px;
}

.ais-Hits-item {
    width: -webkit-calc(99% - 10px);  /* pour Chrome */
    width: -moz-calc(99% - 10px);     /* pour Firefox */
    width: calc(99% - 10px);
    border: 0px solid #c4c8d8;
    box-shadow: 0 0 0 0 #e3e5ec; ;
}

.ais-SearchBox-input {
    border: 1px solid #3C3C3B;
    border-radius: 0px;
}

.dn-attr-hdr-txt {

    line-height: 1.5em;

}
.dn-attr-hdr-txt {

    width: auto;
    font-family: "VinciSansBold" !important;
    font-weight: normal !important;

}
.dn-attr-hdr-txt {

    display: inline-block;
    overflow: hidden;
}

li.dn-attr-hdr {

    font-family: 'VinciSansBold' !important;
    font-weight: normal !important;
    outline-style: none;

}
.dn-attr-hdr {

    color: #3C3C3B !important;
    background: #EDEDED !important;
    margin: 0 !important;

}

.dn-attr-v {
    padding: 6px 10px !important;
   line-height: 1.1em !important;
    margin-right: 5px;
    overflow-x: hidden;
    width: 99%;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}

#dyn_nav li a:hover {

    text-decoration: underline;

}
#dyn_nav li a {

    color: #3C3C3B !important;
    font-size: 0.917rem !important;

}

.text a:hover {
    transition: 0.5s;
}

.title-result{
    color: #0000cc;
    font-family: 'VinciSansRegular','Trebuchet MS',Arial,Helvetica,sans-serif;
    padding-top:1.5rem;
    padding-bottom:1.5rem;
    font-size:1.125rem;
    text-align:left
}

.ais-Highlight-nonHighlighted{
    color: #0000cc;
    font-family: 'VinciSansRegular','Trebuchet MS',Arial,Helvetica,sans-serif;
    padding-top:1.5rem;
    padding-bottom:1.5rem;
    font-size:1.125rem;
}

.text-align-center {
    text-align:left
}

/*** CSS Flexbox ****/

.width15{
    width: calc(15% - 10px);
}

.flexcontainer-as-row {
    display: flex;
    flex-direction: row;
    max-height: 460px;
    background-color: #edf6fa;
    border: 1px solid #3a99c7;
    margin: 2rem 0 0;
}

.flexcontainer-as-row>div {
    height: -webkit-calc(99% - 10px);  /* pour Chrome */
    height: -moz-calc(99% - 10px);     /* pour Firefox */
    height: calc(99% - 10px);
    max-width: -webkit-calc(95% - 10px);  /* pour Chrome */
    max-width: -moz-calc(95% - 10px);     /* pour Firefox */
    max-width: calc(95% - 10px);
    background-color: white;
    margin: 3px;
}

.flexcontainer-as-column {
    display: flex;
    flex-direction: column;
    min-height: 400px;
    max-height: 560px;
    margin: 2rem 0 0;
}

.flexcontainer-as-column>div {
    height: -webkit-calc(99% - 10px);  /* pour Chrome */
    height: -moz-calc(99% - 10px);     /* pour Firefox */
    height: calc(99% - 10px);
    max-width: -webkit-calc(99% - 10px);  /* pour Chrome */
    max-width: -moz-calc(99% - 10px);     /* pour Firefox */
    max-width: calc(99% - 10px);
    background-color: white;
    margin: 3px;
    padding: 1rem;
}

.hits-wrapper {
    border-left: 1px solid #c6c6c6 !important;
}

.align-center {
    -webkit-align-items: center;
    align-items: center;
}

.bigitem {
    -webkit-flex: 2 0 0;
    flex: 2 0 0;
}

.smallitem {
    -webkit-flex: 1 0 0;
    flex: 1 0 0;
    margin: 0 50px;
}

