/* Copyright VINCI https://emea01.safelinks.protection.outlook.com/?url=www.seenk.com&amp;data=02%7C01%7CSylvain.CAUCHY%40sword-group.com%7Cb9f4049ce85841b8f12b08d62d013824%7C6adf23d8eabe44c8b68a0b8fb7aacef9%7C1%7C0%7C636745880602096671&amp;sdata=emRKR5OabexvUYBJLwR%2FXP5YChN%2FAxoeNi%2FskIRez4w%3D&amp;reserved=0. PLEASE NOTE:VINCI fonts can not be disseminated or used without the permission of VINCI. Fonts subject to copyright. */

@font-face {font-family:'VinciSansBold';src:url('https://emea01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.vinci.com%2Fpubli%2Fwebfonts%2Fvinci_sans_bold.woff2&amp;data=02%7C01%7CSylvain.CAUCHY%40sword-group.com%7Cb9f4049ce85841b8f12b08d62d013824%7C6adf23d8eabe44c8b68a0b8fb7aacef9%7C1%7C0%7C636745880602096671&amp;sdata=iurmEif6DY%2BJU7%2BBhhFT1KchC6pxXRrZcQnG3iAQ3zo%3D&amp;reserved=0') format('woff2'),url('https://emea01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.vinci.com%2Fpubli%2Fwebfonts%2Fvinci_sans_bold.woff&amp;data=02%7C01%7CSylvain.CAUCHY%40sword-group.com%7Cb9f4049ce85841b8f12b08d62d013824%7C6adf23d8eabe44c8b68a0b8fb7aacef9%7C1%7C0%7C636745880602096671&amp;sdata=a%2BOyAzyse3Ec89zEjFOynO35utWpODZXczMCeoXg7ss%3D&amp;reserved=0') format('woff'),url('https://emea01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.vinci.com%2Fpubli%2Fwebfonts%2Fvinci_sans_bold.svg%23vinci_sans_bold&amp;data=02%7C01%7CSylvain.CAUCHY%40sword-group.com%7Cb9f4049ce85841b8f12b08d62d013824%7C6adf23d8eabe44c8b68a0b8fb7aacef9%7C1%7C0%7C636745880602096671&amp;sdata=4a69BbZZCDjhn5kZ7YwF835BeMYIGZuc9bzm9BNPIe4%3D&amp;reserved=0') format('svg'),url('https://emea01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.vinci.com%2Fpubli%2Fwebfonts%2Fvinci_sans_bold.ttf&amp;data=02%7C01%7CSylvain.CAUCHY%40sword-group.com%7Cb9f4049ce85841b8f12b08d62d013824%7C6adf23d8eabe44c8b68a0b8fb7aacef9%7C1%7C0%7C636745880602096671&amp;sdata=7icbFy9E4moigbBZb3%2FJfmvybk4PwAuBj6DpxFB7zYY%3D&amp;reserved=0') format('truetype'),url('https://emea01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.vinci.com%2Fpubli%2Fwebfonts%2Fvinci_sans_bold.eot&amp;data=02%7C01%7CSylvain.CAUCHY%40sword-group.com%7Cb9f4049ce85841b8f12b08d62d013824%7C6adf23d8eabe44c8b68a0b8fb7aacef9%7C1%7C0%7C636745880602096671&amp;sdata=54QQ8n9QEO9cGcXSzCWq3wuTY41HAQ5sr3Q8H%2BTraYU%3D&amp;reserved=0')}

@font-face {font-family:'VinciSansRegular';src:url('https://emea01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.vinci.com%2Fpubli%2Fwebfonts%2Fvinci_sans_regular.woff2&amp;data=02%7C01%7CSylvain.CAUCHY%40sword-group.com%7Cb9f4049ce85841b8f12b08d62d013824%7C6adf23d8eabe44c8b68a0b8fb7aacef9%7C1%7C0%7C636745880602106678&amp;sdata=UvhHqTCdezIbrYzaGV9pCDmxVKvgFQ0bpnQnhQXLIuY%3D&amp;reserved=0') format('woff2'),url('https://emea01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.vinci.com%2Fpubli%2Fwebfonts%2Fvinci_sans_regular.woff&amp;data=02%7C01%7CSylvain.CAUCHY%40sword-group.com%7Cb9f4049ce85841b8f12b08d62d013824%7C6adf23d8eabe44c8b68a0b8fb7aacef9%7C1%7C0%7C636745880602106678&amp;sdata=00hXXi3hczLcn26QXzMMSyMjRcMd5FdKyk6ALa4ICNw%3D&amp;reserved=0') format('woff'),url('https://emea01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.vinci.com%2Fpubli%2Fwebfonts%2Fvinci_sans_regular.svg%23vinci_sans_regular&amp;data=02%7C01%7CSylvain.CAUCHY%40sword-group.com%7Cb9f4049ce85841b8f12b08d62d013824%7C6adf23d8eabe44c8b68a0b8fb7aacef9%7C1%7C0%7C636745880602106678&amp;sdata=2Hmd2fhINnlwu4lY2OAAxJzWSGwMZdoNdX0NCx5usM4%3D&amp;reserved=0') format('svg'),url('https://emea01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.vinci.com%2Fpubli%2Fwebfonts%2Fvinci_sans_regular.ttf&amp;data=02%7C01%7CSylvain.CAUCHY%40sword-group.com%7Cb9f4049ce85841b8f12b08d62d013824%7C6adf23d8eabe44c8b68a0b8fb7aacef9%7C1%7C0%7C636745880602106678&amp;sdata=VUsujHPCYJGm37z79b0pLnMaF7iANvE252VacrakoHo%3D&amp;reserved=0') format('truetype'),url('https://emea01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.vinci.com%2Fpubli%2Fwebfonts%2Fvinci_sans_regular.eot&amp;data=02%7C01%7CSylvain.CAUCHY%40sword-group.com%7Cb9f4049ce85841b8f12b08d62d013824%7C6adf23d8eabe44c8b68a0b8fb7aacef9%7C1%7C0%7C636745880602106678&amp;sdata=ECflNIpvK8Q7yqcgs6h72iOcnbTwT0gOUGmuWCwTONE%3D&amp;reserved=0')}

@font-face{font-family:'VinciCondensedMedium';src:url('https://emea01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.vinci.com%2Fpubli%2Fwebfonts%2Fvinci_sans_condensed-medium.woff2&amp;data=02%7C01%7CSylvain.CAUCHY%40sword-group.com%7Cb9f4049ce85841b8f12b08d62d013824%7C6adf23d8eabe44c8b68a0b8fb7aacef9%7C1%7C0%7C636745880602106678&amp;sdata=m%2BI4BHzyBkK43mo6OdSW6%2Bh4z4Glv%2BQUmsHyTxiBoMs%3D&amp;reserved=0') format('woff2'),url('https://emea01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.vinci.com%2Fpubli%2Fwebfonts%2Fvinci_sans_condensed-medium.woff&amp;data=02%7C01%7CSylvain.CAUCHY%40sword-group.com%7Cb9f4049ce85841b8f12b08d62d013824%7C6adf23d8eabe44c8b68a0b8fb7aacef9%7C1%7C0%7C636745880602106678&amp;sdata=SWMd1dC7MMWldfZP%2B8iIBQ08NZ3R3FSFjrZQC4jzydo%3D&amp;reserved=0') format('woff'),url('https://emea01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.vinci.com%2Fpubli%2Fwebfonts%2Fvinci_sans_condensed-medium.svg%23vinci_sans_condensed-medium&amp;data=02%7C01%7CSylvain.CAUCHY%40sword-group.com%7Cb9f4049ce85841b8f12b08d62d013824%7C6adf23d8eabe44c8b68a0b8fb7aacef9%7C1%7C0%7C636745880602106678&amp;sdata=ce4Sr14OY98tqekHfTT%2FizViSFAXLbq2x4G7ibcsmtk%3D&amp;reserved=0') format('svg'),url('https://emea01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.vinci.com%2Fpubli%2Fwebfonts%2Fvinci_sans_condensed-medium.ttf&amp;data=02%7C01%7CSylvain.CAUCHY%40sword-group.com%7Cb9f4049ce85841b8f12b08d62d013824%7C6adf23d8eabe44c8b68a0b8fb7aacef9%7C1%7C0%7C636745880602106678&amp;sdata=ydWeAq1fHOac7J4JofAa9DLzyEAAwmDLOxnA5p5dVsI%3D&amp;reserved=0') format('truetype'),url('https://emea01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.vinci.com%2Fpubli%2Fwebfonts%2Fvinci_sans_condensed-medium.eot&amp;data=02%7C01%7CSylvain.CAUCHY%40sword-group.com%7Cb9f4049ce85841b8f12b08d62d013824%7C6adf23d8eabe44c8b68a0b8fb7aacef9%7C1%7C0%7C636745880602116680&amp;sdata=49%2Fgdh%2B%2B7YBhLYCROFkBcnJmNF6xX%2Fi782rxfbPSDK0%3D&amp;reserved=0')}


body,
h1 {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

body, td, div, .p, a, .d, .s {
  font-family: 'VinciSansRegular','Trebuchet MS',Arial,Helvetica,sans-serif;
}

a:visited, .f a:visited {
  color: #551a8b;
}

a:link, .w, .w a:link {
  color: #004489;
}

.logo-desktop {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.top-menu-bar {
  border: solid 1px #dfe3e6;
  height: 45px;
  background: #ededed
}

.dropdown-toggle {
  display: block;
  text-decoration: none;
  color: #333;
  font-size: 1.125rem;
  padding: 0 2vw
}

.top-menu {
  width: 1200px;
  margin: 0 auto 0 auto;
  text-align: left;
}

.top-menu ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
  text-align: left;
}

.dropdown {
  position: relative;
  width: 100%;
  font-size: 1.125rem;
  font-family: VinciSansBold;
  padding: 0.75rem 0 0 0;
  height: 44px;
}

li {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  vertical-align: middle;
}
